/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--clr-primary-100: #fafcff;
	--clr-primary-400: #837dff;
	--clr-primary-500: #6d63ff;
	--clr-primary-700: #2c2446;
	--clr-primary-800: #262e4b;

	/* rest of colors */
	--clr-neutral-100: #fff;
	--clr-neutral-900: #222;

	/* font-sizes */
	--fs-14px: 0.875rem;
	--fs-15px: 0.9375rem;
	--fs-16px: 1rem;
	--fs-17px: 1.0625rem;
	--fs-18px: 1.125rem;
	--fs-19px: 1.1875rem;
	--fs-20px: 1.25rem;
	--fs-21px: 1.3125rem;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);

	--ff-serif: ;
	--ff-sans-serif: ;
}

/* Global Styles */
html {
	background-color: var(--clr-primary-800);
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	font-size: var(--fs-16px);
	color: var(--clr-primary-800);
}

.wrapper {
	width: min(95vw, 850px);
	background-color: var(--clr-neutral-100);
	border-radius: 0.5rem;
	padding: 2rem;
	margin-block: 2rem;
}

h1,
p {
	max-width: 40em;
}

h1,
h5 {
	margin: 0;
	margin-bottom: 1rem;
	font-weight: 700;
	line-height: 1.1;
	text-wrap: balance;
	text-transform: capitalize;
	margin-top: 0;
	font-size: 2rem;
	font-size: clamp(2rem, 1.82rem + 0.75vw, 2.5rem);
}

.text-small {
	font-size: var(--fs-14px);
}

a {
	text-decoration: none;
	color: var(--clr-primary-500);
}

.img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

/* Form */

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-block: 1rem;
}

select,
input {
	height: 50px;
	border-radius: 0.25rem;
	border: 1px solid var(--clr-primary-800);
}

select {
	padding: 0.75rem 0.5rem;
	font-family: inherit;
	background-color: var(--clr-neutral-100);
}

input {
	padding: 0.5rem;
	background-color: var(--clr-primary-100);
}

input::placeholder {
	font-family: inherit;
}

.image-box {
	margin-top: 2rem;
}

@media (min-width: 40em) {
	form {
		flex-direction: row;
	}

	.image-box {
		max-width: 350px;
		margin-left: auto;
		margin-top: 0.25rem;
	}
}

@media (min-width: 55em) {
	.image-box {
		margin-top: -5rem;
	}
}

/* Button */
.btn {
	cursor: pointer;
	color: var(--clr-neutral-100);
	background: var(--clr-primary-800);
	border: transparent;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
	box-shadow: var(--shadow-1);
	transition: all ease 0.3s;
	text-transform: capitalize;
	display: inline-block;
	height: 50px;
}

.btn:hover {
	box-shadow: var(--shadow-4);
	background-color: var(--clr-primary-500);
}

/* Utility */

.sr-only {
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	top: auto;
	overflow: hidden;
}
