/* ----------------  */
/* Custom Properties */
/* ----------------  */

:root {
	--clr-900: 246 27% 22%;
	--clr-600: 244 74% 68%;
	--clr-500: 243 73% 74%;
	--clr-400: 258 100% 73%;
	--clr-200: 240 100% 98%;
	--clr-100: 0 100% 100%;

	--fs-900: 5rem;
	--fs-800: 3.5rem;
	--fs-700: 1.5rem;
	--fs-600: 1rem;
	--fs-500: 1rem;
	--fs-400: 0.9375rem;
	--fs-300: 0.875rem;
	--fs-200: 0.875rem;

	--ff-sans-normal: 'Mulish', sans-serif;
}

@media (min-width: 50em) {
	:root {
		--fs-800: 5rem;
		--fs-700: 1.75rem;
		--fs-600: 1.125rem;
		--fs-500: 1rem;
		--fs-400: 1rem;
		--fs-300: 1rem;
	}
}

/* ----------------  */
/* Reset             */
/* ----------------  */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	background-color: hsl(var(--clr-400));
	color: hsl(var(--clr-900));
	line-height: 1.5;
	min-height: 100vh;
	display: grid;
	place-content: center;
}

img,
picture {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

ul {
	list-style: none;
	padding: 0;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -----------------  */
/* Utility Classes    */
/* -----------------  */

/* General */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
	--flow-space: 0.75rem;
}

.wrapper {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

[hidden] {
	display: none;
}

.border-radius {
	border-radius: 5px;
}

.p-4 {
	padding: 1rem;
}

.p-8 {
	padding: 2rem;
}

.pb-2 {
	padding-bottom: 0.5rem;
}

/* Colors */
.bg-900 {
	background-color: hsl(var(--clr-900));
}
.bg-600 {
	background-color: hsl(var(--clr-600));
}
.bg-500 {
	background-color: hsl(var(--clr-500));
}
.bg-400 {
	background-color: hsl(var(--clr-400));
}
.bg-200 {
	background-color: hsl(var(--clr-200));
}
.bg-100 {
	background-color: hsl(var(--clr-100));
}

.text-900 {
	color: hsl(var(--clr-900));
}
.text-600 {
	color: hsl(var(--clr-600));
}
.text-500 {
	color: hsl(var(--clr-500));
}
.text-400 {
	color: hsl(var(--clr-400));
}
.text-200 {
	color: hsl(var(--clr-200));
}
.text-100 {
	color: hsl(var(--clr-100));
}

/* Typography */

.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

.fw-900 {
	font-weight: 900;
}
.fw-700 {
	font-weight: 700;
}
.fw-400 {
	font-weight: 400;
}

/* ----------------  */
/* Components        */
/* ----------------  */

.btn {
	cursor: pointer;
	color: hsl(var(--clr-100));
	background-color: hsl(var(--clr-400));
	border: transparent;
	padding: 0.75rem 1rem;
	border-radius: 5px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu .menu-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.menu-btn span {
	display: flex;
	align-items: center;
}

.icon-tabler-plus {
	stroke: white;
	width: 2rem;
	height: auto;
}

@media (min-width: 35em) {
	.menu {
		flex-direction: row;
		justify-content: space-between;
	}
}

.cta {
	color: hsl(var(--clr-100));
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.cta-img {
	width: 25%;
}

.cta-btn {
	margin-top: 1rem;
	width: 100%;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	aspect-ratio: 1;
}

.dot-direct {
	background-color: hsl(var(--clr-600));
}
.dot-social {
	background-color: hsl(var(--clr-500));
}
.dot-organic {
	background-color: hsl(var(--clr-400));
}

.bar {
	width: 100%;
	height: 15px;
	background-color: hsl(var(--clr-400));
	border-radius: 8px;
	box-shadow: 5px 5px 5px hsla(var(--clr-100) / 0.5);
}
.bar-direct {
	width: 24%;
	background-color: hsl(var(--clr-600));
}
.bar-social {
	width: 31%;
	background-color: hsl(var(--clr-500));
}
.bar-organic {
	width: 45%;
	background-color: hsl(var(--clr-400));
}

@media (min-width: 40em) {
	.bars {
		display: grid;
		grid-template-columns: 24% 31% 45%;
		align-items: center;
		gap: 0.125rem;
	}

	.bar-direct {
		border-top-right-radius: unset;
		border-bottom-right-radius: unset;
	}

	.bar-social {
		border-radius: unset;
	}

	.bar-organic {
		border-top-left-radius: unset;
		border-bottom-left-radius: unset;
	}

	.bar {
		width: 100%;
	}
}

@media (min-width: 50em) {
	.dot {
		width: 15px;
		height: 15px;
	}
}

/* ----------------  */
/* Page Specific     */
/* ----------------  */

@media (max-width: 40em) {
	body {
		padding-block: 2rem;
	}
}

.profile-img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	aspect-ratio: 1;
}

/* ----------------  */
/* Layout            */
/* ----------------  */

main,
.graphs {
	display: grid;
	gap: 1rem;
}

@media (min-width: 40em) {
	main {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'menu menu menu'
			'cta graphs graphs';
	}

	.menu {
		grid-area: menu;
	}
	.cta {
		grid-area: cta;
	}
	.graphs {
		grid-area: graphs;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'users new'
			'bars bars';
		gap: 0.5rem;
	}

	.users {
		grid-area: users;
	}

	.new-users {
		grid-area: new;
	}

	.bars {
		grid-area: bars;
	}
}

.icon-tabler-bell {
	stroke: hsl(var(--clr-400));
	width: 2rem;
	height: 2rem;
}
